header 
{
    display: flex;
    align-items: center;
    background-color: black;
}

div{
   
}

.container{

    align-items: center;
    padding: 10px;
    display: flex;
}

body{
   
}

html{
   
}


p{
   
}